body {
  background: linear-gradient(to bottom right, powderblue, skyblue, turquoise) no-repeat center fixed;
  background-size: cover;  
}
.App {
  display: flex;
  width: auto;
  height: auto;
  transition: 2s;
}
.pokemons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  width: auto;
}

.favorite {
  width: 50px;
  height: 50px;
  float: left;
  cursor: pointer;
  
}

.greenlight, .redlight {
  margin-left: 25px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.orb {
  margin-top: 25px;
  margin-right: 25px;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: crimson;
  box-shadow:  1px 2px 5px 5px darkslategrey;
  background: radial-gradient(white, turquoise, deepskyblue);
  cursor: pointer;
   
  }
  
  
  .pokedex {
  background: linear-gradient(red, crimson 90%, darkred);
  box-shadow: 0px 8px 5px darkslategrey;
  min-height: 10vh;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1;
}
.pokedexInfo, .pokedexBorder {
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 15vh;
  z-index: 0;
  height: 90vh;
  
}

.pokedexInfo {
  width: 33%;
  right: 0px;
  text-align: center;
  background: linear-gradient(to top right, powderblue, skyblue, turquoise) no-repeat center fixed;
  
}

.pokedexBorder {
  width: 5%;
  float: left;
  background: linear-gradient( to right, crimson 45%,red 95%, darkslategrey ) no-repeat ;
  box-shadow: -5px 0px 8px 8px darkslategrey;
}

.single_poke {
  position: relative;
  top: 18vh;
  margin: 20px;
  width: 190px;
  display: flexbox;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 10%;
  box-shadow: 0px 0px 8px 8px #04F9E0;
  text-align: center;
  cursor: pointer;
  object-fit: cover;
}

.single_poke:hover {
  box-shadow: 0px 0px 10px 10px white;
  transition: 0.5s;
}

.pokeName {
  block-size: 40px;
  margin: 0px;
  font-size: xx-large;
  z-index: 1;
}

.idNum {
  margin: 0px;
  position: absolute;
  color: white;
  font-size: 110px;
  opacity: 0.5;
  z-index: -1;
}

.pokeSprite {
  width: 140px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animPoke {
  min-width: 100px;
  max-width: 150px;
}

.App-logo {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}